@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  /* Use the imported font family name directly */
  --font-serif: var(--font-playfair);

  --color-primary: #F9F9F9;
  --color-secondary: #1A1A1A;
  --color-accent: #7D8A74;
  --color-accent-gold: #C5A059;
}

/* Explicit class to force override if needed */
.font-playfair-manual {
  font-family: var(--font-playfair);
  font-weight: 500;
}

/* Custom Utilities for Hide Scrollbar if needed later, but sticking to basics for now */