@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);

  --color-primary: #F9F9F9;
  --color-secondary: #1A1A1A;
  --color-accent: #7D8A74; 
  --color-accent-gold: #C5A059;
}

/* Custom Utilities for Hide Scrollbar if needed later, but sticking to basics for now */
